<?php
// +-------------------------------------------------------------------------
// | THINKER [ Internet Ecological traffic aggregation and sharing platform ]
// +-------------------------------------------------------------------------
// | Copyright (c) 2019~2099 https://thinker.com All rights reserved.
// +-------------------------------------------------------------------------
// | Licensed ( http://www.apache.org/licenses/LICENSE-2.0 )
// +-------------------------------------------------------------------------
// | Author: yangrong <3223577520@qq.com>
// +-------------------------------------------------------------------------
// [ Global routing rules ]
// --------------------------------------------------------------------------
declare (strict_types=1);
use think\facade\Route;
$Routing_rules = array(
    // TDO全局参数定义
    '__pattern__' => array(
        // TDO全局参数定义
        'tid' => '\\w+',
        'aid' => '\\d+',
    ),
    '__alias__' => array(),
    '__domain__' => array(),
);
$cache = 1;
// pathinfo+短地址模式
$Pathinfo_routing_rules = array(
    'v$' => array('Index/v', array('ext' => '', 'cache' => $cache)),
    // 首页
    '$' => array('home/Index/index', array('method' => 'get', 'ext' => '', 'cache' => $cache)),
    // 标签伪静态
    'tags$' => array('home/Tags/index', array('method' => 'get', 'ext' => '', 'cache' => $cache)),
    'tags/<tagid>$' => array('home/Tags/lists', array('method' => 'get', 'ext' => '', 'cache' => $cache), array('tagid' => '\\d+')),
    // 搜索伪静态
    'search$' => array('home/Search/lists', array('method' => 'get', 'ext' => 'html', 'cache' => $cache)),
    // 留言提交
    'guestbooksubmit$' => array('home/Lists/gbookSubmit', array('method' => 'get', 'ext' => '', 'cache' => $cache)),
    // 下载文件
    'downfile$' => array('home/View/downfile', array('method' => 'get', 'ext' => '', 'cache' => $cache)),
    // 本地附件下载
    'downloadfile$' => array('home/View/downloadFile', array('method' => 'get', 'ext' => '', 'cache' => $cache)),
    // 列表页
    '<tid>$' => array('home/Lists/index', array('method' => 'get', 'ext' => '', 'cache' => $cache), array('tid' => 'array(\\w|\\-)+')),
    // 内容页
    '<dirname>/<aid>$' => array('home/View/index', array('method' => 'get', 'ext' => 'html', 'cache' => $cache), array('dirname' => 'array(\\w|\\-)+', 'aid' => '\\d+')),
    // 会员中心
    'login$' => array('user/Users/login', array('ext' => '', 'cache' => $cache)),
    'register$' => array('user/Users/register', array('ext' => '', 'cache' => $cache)),
    'centre$' => array('user/Users/centre', array('ext' => '', 'cache' => $cache)),
    'account$' => array('user/Users/index', array('ext' => '', 'cache' => $cache)),
    'cart$' => array('user/Shop/shopCartList', array('ext' => '', 'cache' => $cache)),
    // API接口
    '[json]' => array(
        //
        'arcclick$' => array('api/Ajax/arcclick', array('method' => 'GET|POST'), array('id' => '\\d+')),
        'downcount$' => array('api/Ajax/downcount'),
        'arcpagelist$' => array('api/Ajax/arcpagelist'),
        'checkuser$' => array('api/Ajax/checkUser'),
        'getuserinfo$' => array('api/Ajax/getTagUserInfo'),
        'captcha$' => array('api/Ajax/captcha'),
        'sendemail$' => array('api/Ajax/sendEmail'),
        'getarcrank$' => array('api/Ajax/getArcrank'),
        'getmemberlist$' => array('api/Ajax/getTagMemberlist'),
        'setinlet$' => array('api/Rewrite/setInlet'),
        'closeparentlayer$' => array('api/Rewrite/closeParentLayer'),
        'othershow$' => array('api/Other/otherShow'),
    ),
);
// 额外的路由扩展定义，该目录下支持多个路由文件，路由定义必须为数组
$Routing_extension_directory = root_path('route' . \DIRECTORY_SEPARATOR . 'extra');
$Routing_extension_rules = array();
if (is_dir($Routing_extension_directory)) {
    $extension_rule_files = glob($Routing_extension_directory . '*.php');
    foreach ($extension_rule_files as $extension_rule_file) {
        $Routing_extension_rulesarray[] = (include $extension_rule_file);
    }
}
if (!empty($Routing_extension_rules)) {
    foreach ($Routing_extension_rules as $extension_rule_value) {
        if (!is_array($extension_rule_value)) {
            continue;
        }
        $Routing_rules = array_merge($extension_rule_value, $Routing_rules);
    }
}
// 插件模块路由
$Plug_in_module_routing_file = base_path('plugins') . 'route.php';
if (is_file($Plug_in_module_routing_file)) {
    $Plug_in_module_routing_rules = (include_once $Plug_in_module_routing_file);
    $Plug_in_module_routing_rules = is_array($Plug_in_module_routing_rules) ? $Plug_in_module_routing_rules : array();
    $Routing_rules = array_merge($Plug_in_module_routing_rules, $Routing_rules);
}
$Routing_rules = array_merge($Routing_rules, $Pathinfo_routing_rules);
return $Routing_rules;