{include file="public/layout" /}
<body class="bodystyle">
<div id="append_parent"></div>
<div id="ajaxwaitid"></div>
<div class="page atta">
    {include file="seo/bar" /}
    <form method="post" id="handlepost" action="{:url('Seo/handle')}" enctype="multipart/form-data" name="form1">
        <div class="ncap-form-default">
            <dl class="row">
                <dt class="tit">
                    <label for="seo_pseudo">URL模式</label>
                </dt>
                <dd class="opt">
                    {volist name="seo_pseudo_list" id="vo"}
                    <label>
                        <input type="radio" name="seo_pseudo" value="{$key}" {if condition='isset($config.seo_pseudo) && $config.seo_pseudo eq $key'}checked="checked"{/if}/>{$vo}&nbsp;
                    </label>
                    {/volist}
                    <input type="hidden" id="seo_pseudo_old" value="{$config.seo_pseudo|default='1'}"/>
                    <input type="hidden" name="seo_html_arcdir_limit" value="{$seo_html_arcdir_limit}"/>
                    <input type="hidden" id="seo_inlet" value="{$config.seo_inlet}"/>
                    
                </dd>
            </dl>
            <dl class="row {if condition='empty($config.seo_pseudo) || 1 != $config.seo_pseudo || (1 == $config.seo_pseudo && 1 == $config.seo_dynamic_format)'}none{/if}" id="dl_seo_dynamic_format">
                <dt class="tit">
                    <label>动态格式</label>
                </dt>
                <dd class="opt">
                    <label><input type="radio" name="seo_dynamic_format" value="1" {if condition="!isset($config.seo_dynamic_format) OR $config.seo_dynamic_format eq 1"}checked="checked"{/if}>完全兼容（<a href="javascript:void(0);" onClick="view_exp('view_1_1');">查看例子</a><span id="view_1_1" class="none">：__SITE_URL____ROOT_DIR__/index.php?m=home&amp;c=Lists&amp;a=index&amp;tid=1</span>）</label>&nbsp;
                    {if condition="isset($config.seo_dynamic_format) AND $config.seo_dynamic_format eq 2"}
                    <br/>
                    <label><input type="radio" name="seo_dynamic_format" value="2" checked="checked">部分兼容&nbsp;<font color="red">[部分空间不支持]</font>（<a href="javascript:void(0);" onClick="view_exp('view_1_2');">查看例子</a><span id="view_1_2" class="none">：__SITE_URL____ROOT_DIR__/home/Lists/index.html?tid=1</span>）</label>&nbsp;
                    {/if}
                    <span class="err"></span>
                    <p class="notic"></p>
                </dd>
            </dl>
            
            
            <dl class="row">
                <dt class="tit">
                    <label>栏目页SEO标题</label>
                </dt>
                <dd class="opt">
                    <label><input type="radio" name="seo_liststitle_format" value="1" {if condition="isset($config.seo_liststitle_format) AND $config.seo_liststitle_format eq 1"}checked="checked"{/if}>栏目名称_网站名称</label>&nbsp;
                    <br/>
                    <label><input type="radio" name="seo_liststitle_format" value="2" {if condition="!isset($config.seo_liststitle_format) OR $config.seo_liststitle_format eq 2"}checked="checked"{/if}>栏目名称_第N页_网站名称</label>&nbsp;
                    <span class="err"></span>
                    <p class="notic"></p>
                </dd>
            </dl>
            <dl class="row">
                <dt class="tit">
                    <label>内容页SEO标题</label>
                </dt>
                <dd class="opt">
                    <label><input type="radio" name="seo_viewtitle_format" value="1" {if condition="isset($config.seo_viewtitle_format) AND $config.seo_viewtitle_format eq 1"}checked="checked"{/if}>内容标题</label>&nbsp;
                    <br/>
                    <label><input type="radio" name="seo_viewtitle_format" value="2" {if condition="!isset($config.seo_viewtitle_format) OR $config.seo_viewtitle_format eq 2"}checked="checked"{/if}>内容标题_网站名称</label>&nbsp;
                    <br/>
                    <label><input type="radio" name="seo_viewtitle_format" value="3" {if condition="isset($config.seo_viewtitle_format) AND $config.seo_viewtitle_format eq 3"}checked="checked"{/if}>内容标题_栏目名称_网站名称</label>&nbsp;
                    <span class="err"></span>
                    <p class="notic"></p>
                </dd>
            </dl>
            <!-- <dl class="row {if condition="empty($config['seo_inlet']) OR (1 == $config['seo_inlet'] AND 1 == $config['seo_force_inlet'])"}{else /}none{/if}" id="dl_seo_force_inlet"> -->
            <dl class="row none" id="dl_seo_force_inlet">
                <dt class="tit">
                    <label for="site_url">强制去除index.php</label>
                </dt>
                <dd class="opt">
                    <div class="onoff">
                        <label for="seo_force_inlet1" class="cb-enable {if condition='isset($config.seo_force_inlet) && $config.seo_force_inlet eq 1'}selected{/if}">开启</label>
                        <label for="seo_force_inlet0" class="cb-disable {if condition='empty($config.seo_force_inlet)'}selected{/if}">关闭</label>
                        <input id="seo_force_inlet1" name="seo_force_inlet" value="1" type="radio" {if condition="isset($config.seo_force_inlet) && $config.seo_force_inlet eq 1"} checked="checked"{/if}>
                        <input id="seo_force_inlet0" name="seo_force_inlet" value="0" type="radio" {if condition="empty($config.seo_force_inlet)"} checked="checked"{/if}>
                    </div>
                    <br/>
                    <p class=""></p>
                </dd>
            </dl>
            <div class="bot">
                <a href="JavaScript:void(0);" class="ncap-btn-big ncap-btn-green" onClick="adsubmit();">确认提交</a>
            </div>
        </div>
    </form>
</div>
<script type="text/javascript">

    $(function(){
        $('input[name=seo_pseudo]').click(function(){
            var _this = this;
            $('#dl_seo_dynamic_format').hide();
            $('#dl_seo_html_format').hide();
            // $('#tab_base_html').attr('style','display:none!important');
            $('#dl_seo_rewrite_format').hide();
            $('#seo_right_uphtml').hide();
            var seo_pseudo = $(_this).val();
            if (1 == seo_pseudo) {
                if (1 != $('input[name=seo_dynamic_format]:checked').val()) {
                    $('#dl_seo_dynamic_format').show();
                }
                if (1 != $('#seo_inlet').val()) {
                    $('#dl_seo_force_inlet').show();
                } else {
                    $('#dl_seo_force_inlet').hide();
                }
            
            } else {
                $('#dl_seo_rewrite_format').show();
                if (1 != $('#seo_inlet').val()) {
                    $('#dl_seo_force_inlet').show();
                } else {
                    $('#dl_seo_force_inlet').hide();
                }
            }

           
        });

        $('#seo_html_arcdir').keyup(function(){
            var seo_html_arcdir = $(this).val();
            if (seo_html_arcdir != '') {
                if (seo_html_arcdir.substr(0,1) == '/') seo_html_arcdir = seo_html_arcdir.substr(1);
                seo_html_arcdir = '/' + seo_html_arcdir;
                $('#tips_seo_html_arcdir_1').show();
                $('#tips_seo_html_arcdir_2').html(seo_html_arcdir);
            } else {
                $('#tips_seo_html_arcdir_1').hide();
            }
            $('#exp_seo_html_arcdir').html(seo_html_arcdir);
        });

        $('input[name="seo_force_inlet"]').click(function(){
            if (1 == $(this).val()) {
                layer.open({
                    type: 2,
                    title: false,
                    area: ['0px', '0px'],
                    shade: 0.0,
                    closeBtn: 0,
                    shadeClose: true,
                    content: '//{$Request.host}__ROOT_DIR__/api/Rewrite/testing.html',
                    success: function(layero, index){
                        layer.close(index);
                        var body = layer.getChildFrame('body', index);
                        var content = body.html();
                        if (content.indexOf("Congratulations on passing") == -1)
                        {
                            $('label[for=seo_force_inlet1]').removeClass('selected');
                            $('#seo_force_inlet1').attr('checked','');
                            $('label[for=seo_force_inlet0]').addClass('selected');
                            $('#seo_force_inlet0').attr('checked','checked');
                            layer.alert('不支持去除index.php，请<a href="http://www.thinkercms.com/plus/view.php?aid=7874" target="_blank">点击查看教程</a>', {icon: 2, title:false});
                        }
                    }
                });
            }
        });

        checkInlet();

        // 自动检测隐藏index.php
        function checkInlet() {
            
                $('#dl_seo_force_inlet').hide();
            
            layer.open({
                type: 2,
                title: false,
                area: ['0px', '0px'],
                shade: 0.0,
                closeBtn: 0,
                shadeClose: true,
                content: '//{$Request.host}__ROOT_DIR__/api/Rewrite/setInlet.html',
                success: function(layero, index){
                    layer.close(index);
                    var body = layer.getChildFrame('body', index);
                    var content = body.html();
                    if (content.indexOf("Congratulations on passing") == -1)
                    {
                        $('#seo_inlet').val(0);
                        $('label[for=seo_force_inlet1]').removeClass('selected');
                        $('#seo_force_inlet1').attr('checked','');
                        $('label[for=seo_force_inlet0]').addClass('selected');
                        $('#seo_force_inlet0').attr('checked','checked');
                        
                            $('#dl_seo_force_inlet').show();
                        
                        $.ajax({
                            type : "POST",
                            url  : "__ROOT_DIR__/index.php?m=api&c=Rewrite&a=setInlet",
                            data : {seo_inlet:0,_ajax:1},
                            dataType : "JSON",
                            success: function(res) {

                            }
                        });
                    } else {
                        $('#seo_inlet').val(1);
                        $('#dl_seo_force_inlet').hide();
                        $('label[for=seo_force_inlet0]').removeClass('selected');
                        $('#seo_force_inlet0').attr('checked','');
                        $('label[for=seo_force_inlet1]').addClass('selected');
                        $('#seo_force_inlet1').attr('checked','checked');
                    }
                }
            });
        }
    });

    function adsubmit(){
        
        layer_loading("正在处理");
       
        $.ajax({
            url: "{:url('Seo/handle', ['_ajax'=>1])}",
            type: 'POST',
            dataType: 'json',
            data: $('#handlepost').serialize(),
            success: function(res){
                if (1 == res.code) {
                    
                        layer.msg(res.msg, {icon: 1, time: 1000}, function(){
                            window.location.href = res.url;
                        });
                    
                            
                      
                
                } else {
                    layer.closeAll();
                    layer.alert(res.msg, {icon: 5, title:false});
                }
            },
            error: function(e){
                layer.closeAll();
                layer.alert(tp_unknown_error, {icon: 5, title:false});
            }
        });
    }

    function view_exp(id)
    {
        $('#'+id).toggle();
    }
</script>


{include file="public/footer" /}