APP_DEBUG = true[APP]DEFAULT_TIMEZONE = Asia/Shanghai[DATABASE]TYPE = #DB_TYPE#HOSTNAME = #DB_HOST#HOSTPORT = #DB_PORT#USERNAME = #DB_USER#PASSWORD = '#DB_PWD#'DATABASE = #DB_NAME#PREFIX = #DB_PREFIX#SQLMODE = '#SQL_MODE#'CHARSET = #DB_CHARSET#DEBUG = true[LANG]default_lang = zh-cn