
<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta charset="UTF-8">
    <link rel="dns-prefetch" href="/">
    <meta http-equiv="X-UA-Compatible" content="IE=Edge,chrome=1">
    <meta name="renderer" content="webkit">
    <meta name="viewport" content="initial-scale=1.0,user-scalable=no,maximum-scale=1,width=device-width">
    <title>WordPress主题_原创WordPress模板_WPCOM</title>
    <meta name="keywords" content="wordpress主题,wordpress模板,wordpress企业主题,wp主题">
    <meta name="description" content="专业WordPress主题模板服务商，我们的团队有着多年的WordPress主题开发经验，所有WP主题及插件均原创开发，并有我们自主开发的wordpress后台主题设置面板，即使不懂代码也能轻松搞定！WPCOM，打造更专业的WordPress中文建站服务商">
    <link rel="canonical" href="https://www.wpcom.cn/">
    <meta name="applicable-device" content="pc,mobile">
    <link rel="stylesheet" href="/static/assets/css/style.css?t=202003181529">
        <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-68592945-2"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag(){dataLayer.push(arguments);}
        gtag('js', new Date());
    </script>
    <link rel="icon" type="image/png" sizes="192x192"  href="/favicon/android-icon-192x192.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/favicon/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="96x96" href="/favicon/favicon-96x96.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/favicon/favicon-16x16.png">
    <link rel="manifest" href="/favicon/manifest.json">
    <!--[if lt IE 9]><script src="/static/assets/js/respond.min.js"></script><script>var e=("abbr,article,aside,audio,canvas,datalist,details,figure,footer,header,hgroup,mark,menu,meter,nav,output,progress,section,time,video").split(','); for(var i=0;i<e .length;i++){ document.createElement(e[i]); } window.onload = function() { var rootEl = document.body; var wrapEl = document.createElement('div'); wrapEl.className = 'ie-update'; var cont = document.createElement('div'); cont.className = 'container text-center'; cont.innerHTML = '<p>很抱歉，您的浏览器版本过低，可能无法正常使用我们的网站。推荐使用 <a target="_blank" class="ie-update-url" href="http://www.google.cn/intl/zh-CN/chrome/">Chrome浏览器</a> 或者 <a target="_blank" class="ie-update-url" href="http://windows.microsoft.com/ie">升级您的浏览器</a> 。</p>'; wrapEl.appendChild(cont); rootEl.insertBefore(wrapEl, rootEl.firstChild); rootEl.style.marginTop = '50px'; rootEl.style.position = 'relative';}</script><![endif]-->
</head>
<body>
<header class="header">
{static file="/static/assets/css/style.css" /}
    <div class="container clearfix">
        <div class="logo-wrap pull-left">
            <h1 class="logo">
                <a href="/"><img src="/static/assets/images/logo.png?t=202003181529" alt="WPCOM WordPress主题"></a>
            </h1>
            <div class="menu-toggle">
                <span class="icon-bar icon-bar-1"></span>
                <span class="icon-bar icon-bar-2"></span>
                <span class="icon-bar icon-bar-3"></span>
            </div>
        </div>
        <div class="menu-wrap">
            <ul class="menu pull-left">
                <li class="active"><a href="/">首页</a> </li>
                <li class="dropdown">
                    <a href="/themes">WordPress主题 <i class="fa fa-angle-down"></i></a>
                    <ul class="sub-menu">
                        <li><a href="/themes/justnews.html">JustNews</a></li>
                        <li><a href="/themes/module.html">Module</a></li>
                        <li><a href="/themes/sage.html">Sage</a></li>
                        <li><a href="/themes/justmedia.html">JustMedia</a></li>
                        <li><a href="/themes/third.html">Third</a></li>
                        <li><a href="/themes/mobx-mip.html">MobX-MIP</a></li>
                        <li><a href="/themes/vitality.html">Vitality</a></li>
                        <li><a href="/themes/thesimple.html">TheSimple</a></li>
                    </ul>
                </li>
                <li class="has-flag"><a href="/weapp/justweapp.html">小程序</a><i class="new">新</i></li>
                <li class="dropdown">
                    <a href="/plugins">WordPress插件 <i class="fa fa-angle-down"></i></a>
                    <ul class="sub-menu">
                        <li><a href="/plugins/qapress.html">QAPress</a></li>
                        <li><a href="/plugins/woo-paygate.html">Woo PayGate</a></li>
                    </ul>
                </li>
                <li><a href="/news">最新动态</a> </li>
                <li class="dropdown">
                    <a href="/support">帮助支持 <i class="fa fa-angle-down"></i></a>
                    <ul class="sub-menu">
                        <li><a href="/docs">使用文档</a> </li>
                        <li><a href="/question">问答社区</a> </li>
                        <li><a href="/help">常见问题</a> </li>
                        <li><a href="/tutorial">建站教程</a> </li>
                    </ul>
                </li>
            </ul>
            <div class="user-bar pull-right" id="j-user">
                <a class="btn btn-login" href="/member/login">登录</a>
                <a class="btn btn-register" href="/member/register">注册</a>
            </div>
        </div>
    </div>
</header>
    <section class="home-show">
        <div class="particles" id="j-particles"></div>
        <div class="container text-center typing-container">
            <div class="typing-wrap">
                <div id="j-typing-text" class="typing-text">
                    <p>9年WordPress开发经验，专业的WordPress开发团队^2000</p>
                    <p>因为专注，所以专业^2000</p>
                    <p>Made with <span class="faicon">&#xf004;</span> by WPCOM^5000</p>
                </div>
                <div id="j-typing" class="typing"></div>
            </div>
            <a class="btn btn-lg btn-default btn-view" href="/themes">浏览主题列表</a>
        </div>
        <div class="container bro-container" id="j-show"></div>
    </section>
    <section class="container">
        <div class="new-theme section">
            <h2 class="text-center fea-title">热门推荐</h2>
            <ul class="themes">
                <li class="theme-wrap">
                    <a class="theme-thumb" href="/themes/justnews.html" title="JustNews WordPress博客、自媒体、资讯主题" target="_blank"><img src="/uploads/2017/04/1492958668.png?imageMogr2/thumbnail/600x" alt="JustNews WordPress博客、自媒体、资讯主题"></a>
                    <h3 class="theme-title">
                        <a href="/themes/justnews.html" title="JustNews WordPress博客、自媒体、资讯主题" target="_blank">JustNews WordPress博客、自媒体、资讯主题</a>
                    </h3>
                </li>
                <li class="theme-wrap">
                    <a class="theme-thumb" href="/themes/module.html" title="Module 模块化多功能Wordpress企业主题" target="_blank"><img src="/uploads/2018/03/1519901213.png?imageMogr2/thumbnail/600x" alt="Module 模块化多功能Wordpress企业主题"></a>
                    <h3 class="theme-title">
                        <a href="/themes/module.html" title="Module 模块化多功能Wordpress企业主题" target="_blank">Module 模块化多功能Wordpress企业主题</a>
                    </h3>
                </li>
                <li class="theme-wrap theme-wrap2">
                    <a class="theme-thumb" href="/weapp/justweapp.html" title="JustWeapp 新闻资讯类微信小程序" target="_blank"><img src="/uploads/2019/04/15549717721234.jpg?imageMogr2/thumbnail/600x" alt="JustWeapp 新闻资讯类微信小程序"></a>
                    <h3 class="theme-title">
                        <a href="/weapp/justweapp.html" title="JustWeapp 新闻资讯类微信小程序" target="_blank">JustWeapp 新闻资讯类微信小程序</a>
                    </h3>
                </li>
                <li class="theme-wrap">
                    <a class="theme-thumb" href="/themes/sage.html" title="Sage WooCommerce商城主题" target="_blank"><img src="/uploads/2018/09/1537283821.jpg?imageMogr2/thumbnail/600x" alt="Sage WooCommerce商城主题"></a>
                    <h3 class="theme-title">
                        <a href="/themes/sage.html" title="Sage WooCommerce商城主题" target="_blank">Sage WooCommerce商城主题</a>
                    </h3>
                </li>
                <li class="theme-wrap">
                    <a class="theme-thumb" href="/themes/justmedia.html" title="JustMedia WordPress图片、视频、资讯主题" target="_blank"><img src="/uploads/2018/04/1523173622.png?imageMogr2/thumbnail/600x" alt="JustMedia WordPress图片、视频、资讯主题"></a>
                    <h3 class="theme-title">
                        <a href="/themes/justmedia.html" title="JustMedia WordPress图片、视频、资讯主题" target="_blank">JustMedia WordPress图片、视频、资讯主题</a>
                    </h3>
                </li>
                <li class="theme-wrap theme-wrap2">
                    <a class="theme-thumb" href="/themes/third.html" title="Third 传统行业Wordpress企业主题" target="_blank"><img src="/uploads/2016/04/14598564665864.jpg?imageMogr2/thumbnail/600x" alt="Third 传统行业Wordpress企业主题"></a>
                    <h3 class="theme-title">
                        <a href="/themes/third.html" title="Third 传统行业Wordpress企业主题" target="_blank">Third 传统行业Wordpress企业主题</a>
                    </h3>
                </li>
            </ul>
        </div>
    </section>
    <section class="news section">
        <div class="container news-wrap">
            <div class="news-tab">
                <div class="news-tab-item j-tab-item active">建站教程</div>
                <div class="news-tab-item j-tab-item">常见问题</div>
                <div class="news-tab-item j-tab-item">最新动态</div>
            </div>
            <div class="news-content j-tab-content active">
                <ul class="news-list clearfix">
                                            <li class="news-item">
                            <div class="news-item-thumb">
                                <a title="WordPress如何设置文章置顶" href="/tutorial/178.html" target="_blank">
                                    <img src="/uploads/2019/11/15749373378534.png?imageMogr2/thumbnail/500x310" alt="WordPress如何设置文章置顶" width="500" height="310">
                                </a>
                            </div>
                            <div class="news-item-content">
                                <h2 class="news-item-title">
                                    <a title="WordPress如何设置文章置顶" href="/tutorial/178.html" target="_blank">WordPress如何设置文章置顶</a>
                                </h2>
                                <p class="excerpt">在新手使用WordPress系统操作文章时，经常会问到如何置顶文章的问题，其实方法很简单，下面给大家介绍一下。
置顶一般可以通过两种方式实现
文章列表的快速编辑
进入WordPress后台文章&gt;所有文章，找到需要置顶的文章，点击快速编...</p>
                                <div class="news-item-meta">
                                    <span>发布于2019年11月28日，被浏览698次</span>
                                </div>
                            </div>
                        </li>
                                            <li class="news-item">
                            <div class="news-item-thumb">
                                <a title="WordPress阿里云OSS对象云储存配置教程" href="/tutorial/174.html" target="_blank">
                                    <img src="/uploads/2019/09/15677419915720.png?imageMogr2/thumbnail/500x310" alt="WordPress阿里云OSS对象云储存配置教程" width="500" height="310">
                                </a>
                            </div>
                            <div class="news-item-content">
                                <h2 class="news-item-title">
                                    <a title="WordPress阿里云OSS对象云储存配置教程" href="/tutorial/174.html" target="_blank">WordPress阿里云OSS对象云储存配置教程</a>
                                </h2>
                                <p class="excerpt">目前越来越多的用户喜欢将图片等附件单独存放到第三方对象云储存了，这样处理可以为服务器节省很多磁盘空间，在网站搬家的时候减少文件迁移的工作量，并且独立云储存在访问文件的时候也避开了服务器带宽的限制，所以是可以降低建站/运维成本，提高访问体验的...</p>
                                <div class="news-item-meta">
                                    <span>发布于2019年09月06日，被浏览2266次</span>
                                </div>
                            </div>
                        </li>
                                            <li class="news-item">
                            <div class="news-item-thumb">
                                <a title="QQ邮箱WordPress SMTP配置教程" href="/tutorial/173.html" target="_blank">
                                    <img src="/uploads/2019/09/15675675052493.png?imageMogr2/thumbnail/500x310" alt="QQ邮箱WordPress SMTP配置教程" width="500" height="310">
                                </a>
                            </div>
                            <div class="news-item-content">
                                <h2 class="news-item-title">
                                    <a title="QQ邮箱WordPress SMTP配置教程" href="/tutorial/173.html" target="_blank">QQ邮箱WordPress SMTP配置教程</a>
                                </h2>
                                <p class="excerpt">邮件发送是WordPress里面经常需要用到的，比如找回密码、注册通知等功能，我们一般是推荐用户使用SMTP来发送邮件，这就需要用到SMTP插件了，推荐使用：Easy WP SMTP，插件使用可以参考：https://www.wpcom.c...</p>
                                <div class="news-item-meta">
                                    <span>发布于2019年09月04日，被浏览1310次</span>
                                </div>
                            </div>
                        </li>
                                            <li class="news-item">
                            <div class="news-item-thumb">
                                <a title="WordPress文章视频添加教程" href="/tutorial/170.html" target="_blank">
                                    <img src="/uploads/2019/06/15598053763052.png?imageMogr2/thumbnail/500x310" alt="WordPress文章视频添加教程" width="500" height="310">
                                </a>
                            </div>
                            <div class="news-item-content">
                                <h2 class="news-item-title">
                                    <a title="WordPress文章视频添加教程" href="/tutorial/170.html" target="_blank">WordPress文章视频添加教程</a>
                                </h2>
                                <p class="excerpt">视频功能是WordPress默认就支持的功能，不过在实际使用当中对于新手用户来说还是会有一些不明白的地方，今天简单介绍一下在编辑文章的时候如何插入视频。
新版Gutenberg编辑器插入方法
添加本地视频
如果是本地视频（建议MP4格式），...</p>
                                <div class="news-item-meta">
                                    <span>发布于2019年06月06日，被浏览3133次</span>
                                </div>
                            </div>
                        </li>
                                            <li class="news-item">
                            <div class="news-item-thumb">
                                <a title="WordPress七牛云静态文件CDN加速配置教程" href="/tutorial/158.html" target="_blank">
                                    <img src="/uploads/2018/10/15409807211503.png?imageMogr2/thumbnail/500x310" alt="WordPress七牛云静态文件CDN加速配置教程" width="500" height="310">
                                </a>
                            </div>
                            <div class="news-item-content">
                                <h2 class="news-item-title">
                                    <a title="WordPress七牛云静态文件CDN加速配置教程" href="/tutorial/158.html" target="_blank">WordPress七牛云静态文件CDN加速配置教程</a>
                                </h2>
                                <p class="excerpt">WordPress网站优化加速一直都是广大站长比较关注的问题，今天主要介绍一下基于七牛云的静态文件（比如图片、js、css）CDN加速的设置方法。
CDN还是对象储存？
目前我们接触到的很多客户都是基于第三方插件对接的对象存储服务，这个本身...</p>
                                <div class="news-item-meta">
                                    <span>发布于2018年10月31日，被浏览6818次</span>
                                </div>
                            </div>
                        </li>
                                            <li class="news-item">
                            <div class="news-item-thumb">
                                <a title="wordpress主题手动上传更新升级教程" href="/tutorial/152.html" target="_blank">
                                    <img src="/uploads/2018/07/1533015358.png?imageMogr2/thumbnail/500x310" alt="wordpress主题手动上传更新升级教程" width="500" height="310">
                                </a>
                            </div>
                            <div class="news-item-content">
                                <h2 class="news-item-title">
                                    <a title="wordpress主题手动上传更新升级教程" href="/tutorial/152.html" target="_blank">wordpress主题手动上传更新升级教程</a>
                                </h2>
                                <p class="excerpt">正常情况下我们的wordpress主题都是可以支持后台一键更新的（可以参考：https://www.wpcom.cn/help/62.html ），不过在某些情况下也会出现在线更新失败的问题，比如：目录权限、服务器网络不佳等情况会无法正常更...</p>
                                <div class="news-item-meta">
                                    <span>发布于2018年07月31日，被浏览3221次</span>
                                </div>
                            </div>
                        </li>
                                            <li class="news-item">
                            <div class="news-item-thumb">
                                <a title="wordpress导航菜单新窗口打开的设置方法" href="/tutorial/148.html" target="_blank">
                                    <img src="/uploads/2018/06/1530001414.png?imageMogr2/thumbnail/500x310" alt="wordpress导航菜单新窗口打开的设置方法" width="500" height="310">
                                </a>
                            </div>
                            <div class="news-item-content">
                                <h2 class="news-item-title">
                                    <a title="wordpress导航菜单新窗口打开的设置方法" href="/tutorial/148.html" target="_blank">wordpress导航菜单新窗口打开的设置方法</a>
                                </h2>
                                <p class="excerpt">wordpress的导航菜单功能添加后默认都是当前窗口打开，不过有时候我们希望链接能够在新窗口打开，比如添加的是外部链接。其实wordpress是支持新窗口打开菜单链接的设置的，只不过这个设置选项比较隐蔽，并且默认是不显示的，下面就介绍下开...</p>
                                <div class="news-item-meta">
                                    <span>发布于2018年06月26日，被浏览1822次</span>
                                </div>
                            </div>
                        </li>
                                            <li class="news-item">
                            <div class="news-item-thumb">
                                <a title="WP-PostViews插件如何修改文章阅读数" href="/tutorial/145.html" target="_blank">
                                    <img src="/uploads/2018/05/1526372379.png?imageMogr2/thumbnail/500x310" alt="WP-PostViews插件如何修改文章阅读数" width="500" height="310">
                                </a>
                            </div>
                            <div class="news-item-content">
                                <h2 class="news-item-title">
                                    <a title="WP-PostViews插件如何修改文章阅读数" href="/tutorial/145.html" target="_blank">WP-PostViews插件如何修改文章阅读数</a>
                                </h2>
                                <p class="excerpt">WP-PostViews是一个非常常用的wordpress插件，主要用于文章阅读数访问量的统计，插件使用简单，直接安装启用即可，并且提供边栏小工具，可以展示网站热门阅读文章排行，并且在面对开启了静态页面缓存的的情况下也能基于ajax技术统计...</p>
                                <div class="news-item-meta">
                                    <span>发布于2018年05月15日，被浏览2982次</span>
                                </div>
                            </div>
                        </li>
                                    </ul>
                <a class="news-read-more" href="/tutorial" title="建站教程" target="_blank">查看更多&raquo;</a>
            </div>
            <div class="news-content j-tab-content">
                <ul class="news-list clearfix">
                                            <li class="news-item">
                            <div class="news-item-thumb">
                                <a title="WPCOM主题Iconfont图标库添加及使用教程" href="/help/180.html" target="_blank">
                                    <img src="/uploads/2020/03/15849815509735.png?imageMogr2/thumbnail/500x310" alt="WPCOM主题Iconfont图标库添加及使用教程" width="500" height="310">
                                </a>
                            </div>
                            <div class="news-item-content">
                                <h2 class="news-item-title">
                                    <a title="WPCOM主题Iconfont图标库添加及使用教程" href="/help/180.html" target="_blank">WPCOM主题Iconfont图标库添加及使用教程</a>
                                </h2>
                                <p class="excerpt">在近期最新更新的主题版本中，我们增加了Iconfont图标库的支持，通过使用Iconfont我们将可以添加自己喜欢的图标到网站，甚至您也可以直接自己设计图标。下面具体介绍下图标库的添加以及使用方法。
1、注册Iconfont帐号
首先需要到...</p>
                                <div class="news-item-meta">
                                    <span>发布于2020年03月24日，被浏览154次</span>
                                </div>
                            </div>
                        </li>
                                            <li class="news-item">
                            <div class="news-item-thumb">
                                <a title="WPCOM主题隐藏边栏 开启全宽布局的方法" href="/help/179.html" target="_blank">
                                    <img src="/uploads/2020/03/15840061268661.png?imageMogr2/thumbnail/500x310" alt="WPCOM主题隐藏边栏 开启全宽布局的方法" width="500" height="310">
                                </a>
                            </div>
                            <div class="news-item-content">
                                <h2 class="news-item-title">
                                    <a title="WPCOM主题隐藏边栏 开启全宽布局的方法" href="/help/179.html" target="_blank">WPCOM主题隐藏边栏 开启全宽布局的方法</a>
                                </h2>
                                <p class="excerpt">WPCOM线上销售的响应式主题目前都默认支持隐藏边栏的功能，通过这个功能可以使页面的内容部分全宽显示，一般常用于常见的注册、登录、投稿等页面中。
在主题早期版本中我们是采用单独的页面模板：全宽模板的方式实现，不过在最新的主题中已经进行了升级...</p>
                                <div class="news-item-meta">
                                    <span>发布于2020年03月12日，被浏览102次</span>
                                </div>
                            </div>
                        </li>
                                            <li class="news-item">
                            <div class="news-item-thumb">
                                <a title="QQ登录出现 CompanyID not set 的解决办法" href="/help/177.html" target="_blank">
                                    <img src="/uploads/2019/10/15713060604767.png?imageMogr2/thumbnail/500x310" alt="QQ登录出现 CompanyID not set 的解决办法" width="500" height="310">
                                </a>
                            </div>
                            <div class="news-item-content">
                                <h2 class="news-item-title">
                                    <a title="QQ登录出现 CompanyID not set 的解决办法" href="/help/177.html" target="_blank">QQ登录出现 CompanyID not set 的解决办法</a>
                                </h2>
                                <p class="excerpt">近期我们对线上的WordPress主题社交登录功能做了一项更新：

优化QQ登录字段保存方式：openid改为unionid，需要前往QQ互联应用接口里面获取权限；

此项更新需要前往QQ互联获取接口权限，否则会出现100048、Compa...</p>
                                <div class="news-item-meta">
                                    <span>发布于2019年10月17日，被浏览790次</span>
                                </div>
                            </div>
                        </li>
                                            <li class="news-item">
                            <div class="news-item-thumb">
                                <a title="WPCOM主题“我的模块”使用教程" href="/help/172.html" target="_blank">
                                    <img src="/uploads/2019/07/15638765843471.png?imageMogr2/thumbnail/500x310" alt="WPCOM主题“我的模块”使用教程" width="500" height="310">
                                </a>
                            </div>
                            <div class="news-item-content">
                                <h2 class="news-item-title">
                                    <a title="WPCOM主题“我的模块”使用教程" href="/help/172.html" target="_blank">WPCOM主题“我的模块”使用教程</a>
                                </h2>
                                <p class="excerpt">近期我们对Module、JustNews等主题进行了一次大版本更新，其中加入了我的模块功能，更新后不少用户对这个功能的用途以及他的使用方法存在一些疑问，这里就来简单的介绍下他的用途和使用方法。
用途介绍
开发我的模块主要是方便模块的复用，针...</p>
                                <div class="news-item-meta">
                                    <span>发布于2019年07月23日，被浏览1276次</span>
                                </div>
                            </div>
                        </li>
                                            <li class="news-item">
                            <div class="news-item-thumb">
                                <a title="WPCOM主题微信登录公众号接口配置教程" href="/help/166.html" target="_blank">
                                    <img src="/uploads/2019/05/15571248007341.png?imageMogr2/thumbnail/500x310" alt="WPCOM主题微信登录公众号接口配置教程" width="500" height="310">
                                </a>
                            </div>
                            <div class="news-item-content">
                                <h2 class="news-item-title">
                                    <a title="WPCOM主题微信登录公众号接口配置教程" href="/help/166.html" target="_blank">WPCOM主题微信登录公众号接口配置教程</a>
                                </h2>
                                <p class="excerpt">在我们内置的Themer框架中是默认支持用户中心功能的，微信登录也是其中的一个功能，目前线上所有WordPress主题（除MIP手机主题）都可以实现支持，这篇教程我们来介绍下公众号平台的微信登录接口配置。
配置前温馨提示
微信登录需要企业认...</p>
                                <div class="news-item-meta">
                                    <span>发布于2019年05月06日，被浏览1412次</span>
                                </div>
                            </div>
                        </li>
                                            <li class="news-item">
                            <div class="news-item-thumb">
                                <a title="WordPress主题字体图标无法正常显示的原因及解决办法" href="/help/161.html" target="_blank">
                                    <img src="/uploads/2019/02/15501369187719.png?imageMogr2/thumbnail/500x310" alt="WordPress主题字体图标无法正常显示的原因及解决办法" width="500" height="310">
                                </a>
                            </div>
                            <div class="news-item-content">
                                <h2 class="news-item-title">
                                    <a title="WordPress主题字体图标无法正常显示的原因及解决办法" href="/help/161.html" target="_blank">WordPress主题字体图标无法正常显示的原因及解决办法</a>
                                </h2>
                                <p class="excerpt">字体图标由于其轻量、灵活、清晰以及良好的浏览器兼容性已经被广泛用于web开发当中，WPCOM线上的WordPress主题也都内置了字体图标库可供使用。不过在实际使用当中还是有部分用户遇到了一些问题，最常见的问题就是图标无法正常显示。
无法正...</p>
                                <div class="news-item-meta">
                                    <span>发布于2019年02月14日，被浏览2126次</span>
                                </div>
                            </div>
                        </li>
                                            <li class="news-item">
                            <div class="news-item-thumb">
                                <a title="WPCOM主题更新后子主题失效的解决方法" href="/help/157.html" target="_blank">
                                    <img src="/uploads/2018/09/1537845487.png?imageMogr2/thumbnail/500x310" alt="WPCOM主题更新后子主题失效的解决方法" width="500" height="310">
                                </a>
                            </div>
                            <div class="news-item-content">
                                <h2 class="news-item-title">
                                    <a title="WPCOM主题更新后子主题失效的解决方法" href="/help/157.html" target="_blank">WPCOM主题更新后子主题失效的解决方法</a>
                                </h2>
                                <p class="excerpt">WPCOM主题在之前的版本中主题文件夹一直是直接使用主题名字，但是这种命名方式不太规范，并且导致后台系统中主题别名、主题名、插件别名、插件名的使用也很混乱，不利于后期维护，所以近期更新中我们统一对主题和插件的目录进行了修改，全部统一使用别名...</p>
                                <div class="news-item-meta">
                                    <span>发布于2018年09月25日，被浏览1020次</span>
                                </div>
                            </div>
                        </li>
                                            <li class="news-item">
                            <div class="news-item-thumb">
                                <a title="WPCOM主题微信JS-SDK预览图片功能开启方法" href="/help/147.html" target="_blank">
                                    <img src="/uploads/2018/06/1529564656.png?imageMogr2/thumbnail/500x310" alt="WPCOM主题微信JS-SDK预览图片功能开启方法" width="500" height="310">
                                </a>
                            </div>
                            <div class="news-item-content">
                                <h2 class="news-item-title">
                                    <a title="WPCOM主题微信JS-SDK预览图片功能开启方法" href="/help/147.html" target="_blank">WPCOM主题微信JS-SDK预览图片功能开启方法</a>
                                </h2>
                                <p class="excerpt">WPCOM线上付费主题目前已经全部支持图片lightbox灯箱功能，并且这个功能针对微信内置浏览器有专门的优化，可以配合微信JS-SDK实现类似公众号文章里面的图片预览效果，下面来说下配置开启方法。
开启图片Lightbox功能
首先当然需...</p>
                                <div class="news-item-meta">
                                    <span>发布于2018年06月21日，被浏览1023次</span>
                                </div>
                            </div>
                        </li>
                                    </ul>
                <a class="news-read-more" href="/help" title="常见问题" target="_blank">查看更多&raquo;</a>
            </div>
            <div class="news-content j-tab-content">
                <ul class="news-list clearfix">
                                        <li class="news-item">
                        <div class="news-item-thumb">
                            <a title="Themer框架更新：新增手机验证码快捷登录 支持Iconfont图标" href="/news/181.html" target="_blank">
                                <img src="/uploads/2020/03/15850413052854.png?imageMogr2/thumbnail/500x310" alt="Themer框架更新：新增手机验证码快捷登录 支持Iconfont图标" width="500" height="310">
                            </a>
                        </div>
                        <div class="news-item-content">
                            <h2 class="news-item-title">
                                <a title="Themer框架更新：新增手机验证码快捷登录 支持Iconfont图标" href="/news/181.html" target="_blank">Themer框架更新：新增手机验证码快捷登录 支持Iconfont图标</a>
                            </h2>
                            <p class="excerpt">这几天我们对线上的WordPress主题陆续进行了版本更新，本次更新主要是针对Themer框架，我们新加入了手机快捷登录功能、Iconfont图标支持、国外流行的社交登录接口（Google、Facebook、Twitter、Github）以...</p>
                            <div class="news-item-meta">
                                <span>发布于2020年03月24日，被浏览52次</span>
                            </div>
                        </div>
                                        <li class="news-item">
                        <div class="news-item-thumb">
                            <a title="2019年国庆节放假安排通知" href="/news/176.html" target="_blank">
                                <img src="/assets/images/thumb.png?imageMogr2/thumbnail/500x310" alt="2019年国庆节放假安排通知" width="500" height="310">
                            </a>
                        </div>
                        <div class="news-item-content">
                            <h2 class="news-item-title">
                                <a title="2019年国庆节放假安排通知" href="/news/176.html" target="_blank">2019年国庆节放假安排通知</a>
                            </h2>
                            <p class="excerpt">各位尊敬的新老客户：
根据国务院办公厅通知精神，2019年国庆节我司将放假调休，放假时间如下：10月1日至7日放假7天；9月29日（周日）和10月12日（周六）上班。
放假期间本站主题业务可正常自助注册购买和下载，在线客服会暂停服务，如有任...</p>
                            <div class="news-item-meta">
                                <span>发布于2019年09月29日，被浏览309次</span>
                            </div>
                        </div>
                                        <li class="news-item">
                        <div class="news-item-thumb">
                            <a title="全新Module主题重构版4.0发布上线 更强大的自定义功能" href="/news/169.html" target="_blank">
                                <img src="/uploads/2019/05/15592905978971.png?imageMogr2/thumbnail/500x310" alt="全新Module主题重构版4.0发布上线 更强大的自定义功能" width="500" height="310">
                            </a>
                        </div>
                        <div class="news-item-content">
                            <h2 class="news-item-title">
                                <a title="全新Module主题重构版4.0发布上线 更强大的自定义功能" href="/news/169.html" target="_blank">全新Module主题重构版4.0发布上线 更强大的自定义功能</a>
                            </h2>
                            <p class="excerpt">前几天我们正式发布了Module主题重构版4.0，并在接下来几天还陆续新增了2套演示风格，目前Module主题的演示风格已经达到7套了，具体效果可以参考演示站：http://demo.wpcom.cn/preview/module.html...</p>
                            <div class="news-item-meta">
                                <span>发布于2019年05月31日，被浏览1205次</span>
                            </div>
                        </div>
                                        <li class="news-item">
                        <div class="news-item-thumb">
                            <a title="微信小程序JustWeapp发布上线，欢迎购买" href="/news/165.html" target="_blank">
                                <img src="/uploads/2019/04/15549571996285.png?imageMogr2/thumbnail/500x310" alt="微信小程序JustWeapp发布上线，欢迎购买" width="500" height="310">
                            </a>
                        </div>
                        <div class="news-item-content">
                            <h2 class="news-item-title">
                                <a title="微信小程序JustWeapp发布上线，欢迎购买" href="/news/165.html" target="_blank">微信小程序JustWeapp发布上线，欢迎购买</a>
                            </h2>
                            <p class="excerpt">微信小程序在历经3个多月的开发后，终于在本月正式发布上线了，欢迎扫码体验购买，下面是小程序效果和二维码图片：

前期功能可能会比较简单，后续这边还会继续完善更新更多功能，敬请期待！
小程序详细介绍可以访问：https://www.wpcom...</p>
                            <div class="news-item-meta">
                                <span>发布于2019年04月16日，被浏览891次</span>
                            </div>
                        </div>
                                        <li class="news-item">
                        <div class="news-item-thumb">
                            <a title="WPCOM原创WordPress主题上线手机注册功能" href="/news/162.html" target="_blank">
                                <img src="/uploads/2019/03/15514345055883.png?imageMogr2/thumbnail/500x310" alt="WPCOM原创WordPress主题上线手机注册功能" width="500" height="310">
                            </a>
                        </div>
                        <div class="news-item-content">
                            <h2 class="news-item-title">
                                <a title="WPCOM原创WordPress主题上线手机注册功能" href="/news/162.html" target="_blank">WPCOM原创WordPress主题上线手机注册功能</a>
                            </h2>
                            <p class="excerpt">近期我们对原创Themer框架的用户中心功能做了一系列的功能优化调整，最主要的变化就是手机注册功能的增加，另外还有一系列的帐号体系交互流程的优化更新，下面简单介绍下此次更新的内容。

支持手机注册登录
用户中心功能可以在后台开启使用手机注册...</p>
                            <div class="news-item-meta">
                                <span>发布于2019年03月01日，被浏览2781次</span>
                            </div>
                        </div>
                                        <li class="news-item">
                        <div class="news-item-thumb">
                            <a title="Themer框架2.0更新发布，全新主题后台设置框架" href="/news/160.html" target="_blank">
                                <img src="/uploads/2018/12/15456377492749.png?imageMogr2/thumbnail/500x310" alt="Themer框架2.0更新发布，全新主题后台设置框架" width="500" height="310">
                            </a>
                        </div>
                        <div class="news-item-content">
                            <h2 class="news-item-title">
                                <a title="Themer框架2.0更新发布，全新主题后台设置框架" href="/news/160.html" target="_blank">Themer框架2.0更新发布，全新主题后台设置框架</a>
                            </h2>
                            <p class="excerpt">Themer框架伴随着我们第一套付费WordPress主题发布至今已经超过3年，在这期间我们对框架做过数万行代码更新，整体功能已经趋于完善稳定，但是由于早期开发规划、技术更新迭代、以及新功能技术方案选择等各种原因，导致现有框架不同功能模块之...</p>
                            <div class="news-item-meta">
                                <span>发布于2018年12月24日，被浏览1098次</span>
                            </div>
                        </div>
                                        <li class="news-item">
                        <div class="news-item-thumb">
                            <a title="是时候为wordpress图片加载开挂了：WebP智能兼容方案" href="/news/156.html" target="_blank">
                                <img src="/uploads/2018/10/15407021821744.png?imageMogr2/thumbnail/500x310" alt="是时候为wordpress图片加载开挂了：WebP智能兼容方案" width="500" height="310">
                            </a>
                        </div>
                        <div class="news-item-content">
                            <h2 class="news-item-title">
                                <a title="是时候为wordpress图片加载开挂了：WebP智能兼容方案" href="/news/156.html" target="_blank">是时候为wordpress图片加载开挂了：WebP智能兼容方案</a>
                            </h2>
                            <p class="excerpt">近期我们对线上WordPress主题统一进行了一次更新，本次更新的主要内容是为主题增加WebP支持，通过这个新功能可以为网站的图片智能替换成WebP格式图片。
WebP？如果你还没有听过的话那就先来了解一下。
WebP介绍
先看下维基百科的...</p>
                            <div class="news-item-meta">
                                <span>发布于2018年09月21日，被浏览9784次</span>
                            </div>
                        </div>
                                        <li class="news-item">
                        <div class="news-item-thumb">
                            <a title="WPCOM主题已全面兼容WordPress新版Gutenberg编辑器" href="/news/153.html" target="_blank">
                                <img src="/uploads/2018/08/1533287750.png?imageMogr2/thumbnail/500x310" alt="WPCOM主题已全面兼容WordPress新版Gutenberg编辑器" width="500" height="310">
                            </a>
                        </div>
                        <div class="news-item-content">
                            <h2 class="news-item-title">
                                <a title="WPCOM主题已全面兼容WordPress新版Gutenberg编辑器" href="/news/153.html" target="_blank">WPCOM主题已全面兼容WordPress新版Gutenberg编辑器</a>
                            </h2>
                            <p class="excerpt">WordPress从4.9.8开始已经正式加入Gutenberg编辑器支持，不过目前还需要以插件的形式支持，用户可直接在后台安装Gutenberg插件切换到新版编辑器。不过后台提示文案也明确说明了会在下个主要版本中（可能会是5.0？）将Gu...</p>
                            <div class="news-item-meta">
                                <span>发布于2018年08月03日，被浏览1292次</span>
                            </div>
                        </div>
                                    </ul>
                <a class="news-read-more" href="/news" title="最新动态" target="_blank">查看更多&raquo;</a>
            </div>
        </div>
    </section>
    <section class="container">
        <div class="feature section row">
            <h2 class="text-center fea-title">为什么选择我们？</h2>
            <div class="fea col-xs-4 text-center">
                <i class="fa fa-users fea-icon-1"></i>
                <h3 class="fea-item-title">专业开发团队</h3>
                <p>我们的团队成员均来自于互联网行业，并且有着多年的开发经验，熟悉网站的开发流程，对于WordPress主题设计开发有着丰富的经验。</p>
            </div>
            <div class="fea col-xs-4 text-center">
                <i class="fa fa-sliders fea-icon-2"></i>
                <h3 class="fea-item-title">便捷设置管理</h3>
                <p>独立自主开发的WordPress后台主题设置面板，可以方便快捷的设置你的网站，即使不懂代码也可以随心所欲的修改主题自定义选项。</p>
            </div>
            <div class="fea col-xs-4 text-center">
                <i class="fa fa-search fea-icon-3"></i>
                <h3 class="fea-item-title">自动SEO优化</h3>
                <p>在开发过程中我们非常注重搜索引擎的优化，并借助WP平台的SEO优势，可以不需要任何插件即可实现自动提取生成页面关键词和描述。</p>
            </div>
            <div class="fea col-xs-4 text-center">
                <i class="fa fa-paint-brush fea-icon-4"></i>
                <h3 class="fea-item-title">前沿设计风格</h3>
                <p>我们时刻关注前沿设计风格，紧跟行业趋势，无论响应式还是扁平化，我们的WordPress主题都能轻松搞定！选择我们，让你的网站永不落伍！</p>
            </div>
            <div class="fea col-xs-4 text-center">
                <i class="fa fa-user2 fea-icon-5"></i>
                <h3 class="fea-item-title">使用技术支持</h3>
                <p>主题购买后可享受免费半年的使用技术支持服务，对主题使用有任何问题可通过在线客服、提交服务单等方式联系我们，为您排除使用难题。</p>
            </div>
            <div class="fea col-xs-4 text-center">
                <i class="fa fa-cloud-upload fea-icon-6"></i>
                <h3 class="fea-item-title">永久免费使用</h3>
                <p>购买任意WP主题都可获得永久免费使用权，即一次付费后可以一直使用，摆脱传统建站按年收费的方式，避免网站因续费问题无法访问的尴尬。</p>
            </div>
        </div><!-- /.feature -->
    </section>

    <section class="section case">
        <div class="container">
            <h2 class="text-center case-title">客户案例</h2>
            <div class="case-wrap slider owl-carousel clearfix">
                <div class="case-page">
                    <div class="case-item">
                        <a class="case-item-logo" target="_blank" rel="nofollow" href="http://ets.ac.cn">
                            <img src="/assets/images/case/ets.png" alt="中科华碳信息技术研究院"/>
                        </a>
                    </div>
                    <div class="case-item">
                        <a class="case-item-logo" target="_blank" rel="nofollow" href="http://www.qwauto.cn">
                            <img src="/assets/images/case/qwauto.jpg" alt="奇威汽车"/>
                        </a>
                    </div>
                    <div class="case-item">
                        <a class="case-item-logo" target="_blank" rel="nofollow" href="http://www.sfinst.com">
                            <img src="/assets/images/case/sfinst.png" alt="智慧金融研究院"/>
                        </a>
                    </div>
                    <div class="case-item">
                        <a class="case-item-logo" target="_blank" rel="nofollow" href="https://www.yinshuamao.com">
                            <img src="/assets/images/case/yinshuamao.png" alt="印刷猫"/>
                        </a>
                    </div>
                    <div class="case-item">
                        <a class="case-item-logo" target="_blank" rel="nofollow" href="http://www.sootoo.com">
                            <img src="/assets/images/case/sootoo.png?1" alt="速途网"/>
                        </a>
                    </div>
                    <div class="case-item">
                        <a class="case-item-logo" target="_blank" rel="nofollow" href="https://www.yunzhidian.com/">
                            <img src="/assets/images/case/yunzhidian.png" alt="云之巅"/>
                        </a>
                    </div>
                    <div class="case-item">
                        <a class="case-item-logo" target="_blank" rel="nofollow" href="http://www.magedu.com">
                            <img src="/assets/images/case/magedu.png" alt="马哥教育"/>
                        </a>
                    </div>
                    <div class="case-item">
                        <a class="case-item-logo" target="_blank" rel="nofollow" href="http://www.iyunying.org/">
                            <img src="/assets/images/case/iyunying.png" alt="爱运营"/>
                        </a>
                    </div>
                    <div class="case-item">
                        <a class="case-item-logo" target="_blank" rel="nofollow" href="https://www.afenxi.com">
                            <img src="/assets/images/case/afenxi.png" alt="数据分析网"/>
                        </a>
                    </div>
                </div>
                <div class="case-page">
                    <div class="case-item">
                        <a class="case-item-logo" target="_blank" rel="nofollow" href="http://www.wanhuait.com">
                            <img src="/assets/images/case/wanhuait.png" alt="万华信息技术"/>
                        </a>
                    </div>
                    <div class="case-item">
                        <a class="case-item-logo" target="_blank" rel="nofollow" href="http://www.zxvi.com">
                            <img src="/assets/images/case/izixiang.png" alt="子相设计"/>
                        </a>
                    </div>
                    <div class="case-item">
                        <a class="case-item-logo" target="_blank" rel="nofollow" href="http://www.boryou.com">
                            <img src="/assets/images/case/boryou.jpg" alt="博约科技"/>
                        </a>

                    </div>
                    <div class="case-item">
                        <a class="case-item-logo" target="_blank" rel="nofollow" href="http://www.xinws.com">
                            <img src="/assets/images/case/xinws.png" alt="心卫士"/>
                        </a>
                    </div>
                    <div class="case-item">
                        <a class="case-item-logo" target="_blank" rel="nofollow" href="http://www.szminhao.com">
                            <img src="/assets/images/case/szminhao.png" alt="敏浩科技"/>
                        </a>
                    </div>
                    <div class="case-item">
                        <a class="case-item-logo" target="_blank" rel="nofollow" href="https://www.cdhszlgc.com">
                            <img src="/assets/images/case/cdhszlgc.png" alt="成都浩爽制冷"/>
                        </a>
                    </div>
                    <div class="case-item">
                        <a class="case-item-logo" target="_blank" rel="nofollow" href="http://www.yttymg.com">
                            <img src="/assets/images/case/yttymg.jpg" alt="田园牧歌"/>
                        </a>
                    </div>
                    <div class="case-item">
                        <a class="case-item-logo" target="_blank" rel="nofollow" href="http://www.vjdz.com.cn">
                            <img src="/assets/images/case/vjdz.png" alt="微进电子科技"/>
                        </a>
                    </div>
                    <div class="case-item">
                        <a class="case-item-logo" target="_blank" rel="nofollow" href="http://www.hb-zxty.com">
                            <img src="/assets/images/case/hb-zxty.png" alt="湖北众行"/>
                        </a>
                    </div>
                </div>
                <div class="case-page">
                    <div class="case-item">
                        <a class="case-item-logo" target="_blank" rel="nofollow" href="http://www.dataonv.com">
                            <img src="/assets/images/case/dataonv.png" alt="迪塔维数据"/>
                        </a>
                    </div>
                    <div class="case-item">
                        <a class="case-item-logo" target="_blank" rel="nofollow" href="http://www.teemlink.com">
                            <img src="/assets/images/case/teemlink.png?1" alt="天翎科技"/>
                        </a>
                    </div>
                    <div class="case-item">
                        <a class="case-item-logo" target="_blank" rel="nofollow" href="http://taokeplus.com/">
                            <img src="/assets/images/case/taokeplus.png" alt="淘客+"/>
                        </a>
                    </div>
                    <div class="case-item">
                        <a class="case-item-logo" target="_blank" rel="nofollow" href="https://www.kcostar.com">
                            <img src="/assets/images/case/kcostar.png" alt="酷客星球"/>
                        </a>
                    </div>
                    <div class="case-item">
                        <a class="case-item-logo" target="_blank" rel="nofollow" href="http://www.eamar.com.cn">
                            <img src="/assets/images/case/eamar.png" alt="依玛"/>
                        </a>
                    </div>
                    <div class="case-item">
                        <a class="case-item-logo" target="_blank" rel="nofollow" href="https://www.ainiseo.com">
                            <img src="/assets/images/case/ainiseo.png" alt="爱搜博客"/>
                        </a>
                    </div>
                    <div class="case-item">
                        <a class="case-item-logo" target="_blank" rel="nofollow" href="https://www.ruijiating.com">
                            <img src="/assets/images/case/ruijiating.png" alt="睿家科技"/>
                        </a>
                    </div>
                    <div class="case-item">
                        <a class="case-item-logo" target="_blank" rel="nofollow" href="https://www.trustauth.cn">
                            <img src="/assets/images/case/trustauth.png" alt="数安时代"/>
                        </a>
                    </div>
                    <div class="case-item">
                        <a class="case-item-logo" target="_blank" rel="nofollow" href="https://www.tenglonghd.com">
                            <img src="/assets/images/case/tenglonghd.png" alt="腾龙控股"/>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="section data-count">
        <div class="container">
                        <div class="col-xs-4"><h4>主题/插件</h4><p><span id="data-count-1">11</span><span class="unit">套</span></p></div>
            <div class="col-xs-4"><h4>累计销量</h4><p><span id="data-count-2">4966</span><span class="unit">套</span></p></div>
            <div class="col-xs-4"><h4>服务网站</h4><p><span id="data-count-3">9237</span><span class="unit">个</span></p></div>
        </div>
    </section>
    <section class="section welcome">
        <div class="container">
            <p class="wel-t1">专注于WordPress企业建站</p>
            <p class="wel-t2">致力于为国内各类中小型企业提供高质量网站建设服务</p>
            <div class="btn-inner">
                <a class="btn btn-primary btn-login" href="/member/login">马上登录</a>
                <a class="btn btn-danger btn-login" href="/member/register">立即注册</a>
            </div>
        </div>
    </section>
<footer class="footer">
    <div class="container">
        <div class="row footer-nav hidden-xs">
            <div class="col-sm-2">
                <h3 class="footer-item-title">关于</h3>
                <ul class="footer-item">
                    <li><a href="/about">关于我们</a></li>
                    <li><a href="/contact">联系我们</a></li>
                    <li><a href="/terms">服务条款</a></li>
                    <li><a href="/news/66.html">推介计划</a></li>
                </ul>
            </div>
            <div class="col-sm-2">
                <h3 class="footer-item-title">支持</h3>
                <ul class="footer-item">
                    <li><a href="/docs">主题文档</a></li>
                    <li><a href="/help">常见问题</a></li>
                    <li><a href="/member/support">提交服务单</a></li>
                    <li><a href="/help/69.html">申请发票</a></li>
                </ul>
            </div>
            <div class="col-sm-2">
                <h3 class="footer-item-title">文档</h3>
                <ul class="footer-item">
                    <li><a href="/docs">在线文档</a></li>
                    <li><a href="/docs/themer">Themer框架</a></li>
                    <li><a href="/docs/themer/auth.html">授权激活</a></li>
                    <li><a href="/docs/themer/import.html">导入数据</a></li>
                </ul>
            </div>
            <div class="col-sm-2">
                <h3 class="footer-item-title">更多</h3>
                <ul class="footer-item">
                    <li><a href="/services">服务项目</a></li>
                    <li><a href="https://www.iztwp.com/" target="_blank">爱主题</a></li>
                </ul>
            </div>
            <div class="col-md-3 col-md-offset-1  col-sm-4 col-lg-3 col-lg-offset-1 footer-contact">
                <p>在线客服：<a class="footer-contact-qq" target="_blank" href="/chat" rel="nofollow"><i class="fa fa-comments"></i> 立即咨询</a></p>
                <p>客服QQ：1803153880</p>
                <p>QQ客户群：<a href="//shang.qq.com/wpa/qunwpa?idkey=b433225788ff565dcc190fb6fa319d790662fb0974ceb1f116e941daeedb5c98" target="_blank" rel="nofollow">639229648</a></p>
                <p style="font-size:13px;line-height: 1.5;margin-top: 3px;color: #999;">工作时间：周一至周五 <br>9:30-18:30，节假日休息</p>
            </div>
        </div>
    </div>

    <div class="copyright container clearfix">
                    <div class="links">
                <span>友情链接：</span>
                <a href="https://www.iztwp.com" target="_blank">WordPress主题</a>
                <a href="https://www.wpweixin.net" target="_blank">WordPress微信支付</a>
                <a href="https://www.datahunter.cn" target="_blank">bi工具</a>
                <a href="https://www.themepark.com.cn" target="_blank">WordPress主题公园</a>
                <a href="https://www.uctheme.com" target="_blank">淘宝客主题</a>
                <a href="https://wanghi.cn" target="_blank">王海SEO</a>
                <a href="http://www.xintheme.com" target="_blank">WordPress主题</a>
                <a href="http://www.hougebiji.com" target="_blank">营销案例</a>
                <a href="http://www.seo628.com" target="_blank">wordpress模板</a>
                <a href="http://www.wazhuti.com" target="_blank">挖主题</a>
                <a href="https://www.suxing.me" target="_blank">WordPress主题</a>
                <a href="https://www.changxingyun.com" target="_blank">云服务器</a>
                <a href="https://www.nicetheme.cn" target="_blank">nicetheme</a>
                <a href="https://wp.com.cn" target="_blank">WordPress社区</a>
                <a href="https://www.seo.com.cn" target="_blank">SEO</a>
                <a href="http://www.5kcrm.com" target="_blank">悟空CRM</a>
                <a href="https://www.wpcom.cn/themes" target="_blank">原创WordPress主题</a>
                <a href="/links" target="_blank">申请友链>></a>
            </div>
                <p>&copy; 2015-2020 WPCOM.CN 版权所有  WPCOM - 更专业的<a href="https://www.wpcom.cn">WordPress主题</a>、<a href="https://www.wpcom.cn">WordPress模板</a>、<a href="https://www.wpcom.cn">WordPress企业主题</a>服务</p>

        <p class="footer-beian"><a rel="nofollow" target="_blank" href="http://www.miibeian.gov.cn/">粤ICP备16083848号-1</a>  <a rel="nofollow" target="_blank" href="http://www.beian.gov.cn/portal/registerSystemInfo?recordcode=44010602007427"><img src="/static/assets/images/gongan.png" alt="公安备案"> 粤公网安备 44010602007427号</a></p>
    </div>
</footer><!-- /.footer -->
    <div class="fixed-tool">
        <div class="ft-item">
            <a class="contact" href="/chat" target="_blank" rel="nofollow" data-type="online">
                <i class="fa fa-comments"></i>
                在线咨询
            </a>
        </div>
        <div class="ft-item">
            <a class="contact" href="http://wpa.qq.com/msgrd?v=3&uin=1803153880&site=qq&menu=yes" target="_blank" rel="nofollow" data-type="qq">
                <i class="fa fa-qq"></i>
                QQ咨询
            </a>
        </div>
        <div class="ft-item">
            <a class="contact" href="javascript:;">
                <i class="fa fa-weixin"></i>
                微信关注
                <span class="ft-item-qrcode"><img src="/static/assets/images/qrcode.jpg" alt="微信公众号"></span>
            </a>
        </div>
        <div class="ft-item gotop" id="j-top" style="display: none;">
            <i class="fa fa-angle-up"></i>
        </div>
    </div>
    <script src="/static/assets/js/main.js?t=202003181529"></script>
    {weapp type='default' /}
        </body>
</html>